<h2>Employee Details</h2>
<table>
    <tr>
        <td>ID:</td>
        <td id="id">{{employee.id}}</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td id="name">{{employee.name}}</td>
    </tr>
    <tr>
        <td>Location:</td>
        <td id="location">{{employee.location}}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td id="email">{{employee.email}}</td>
    </tr>
    <tr>
        <td>Mobile:</td>
        <td id="mobile">{{employee.mobile}}</td>
    </tr>
</table>

<button id="back" routerLink="/employees">Go back</button>
